{% extends "layoutAdmin.njk" %}
{% block content %}

  <div class="box-chefs">
    <div class="title-chef">
      <h2>Criando Chef</h2>
      <button>Salvar Chef</button>
    </div>
    <div class="form-chef">
      <h4>Nome</h4>
      <input type="text" name="name" value="">
    </div>
    <div class="form-chef">
      <h4>Avatar</h4>
      <input type="text" name="name" value="">
    </div>
  </div>

{% endblock %}