<div class="item">
  <div class="text-title">
    <p>Imagem da receita</p>
    <input type="text" name="recipe_img">
  </div>
</div>

<div class="item">
  <div class="text-title">
    <p>Ingredientes</p>
  </div>
  <div id="ingredients">
    {% if recipe.ingredients %}
      {% for ingredient in recipe.ingredients %}
        <div class="ingredient">
          <input type="text" name="ingredients[]" value=""/>
        </div>
      {% endfor %}
    {% else %}
      <div class="ingredient">
        <input type="text" name="ingredients[]" value="">
      </div>
    {% endif %}
  </div>
  <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>

<div class="item">
  <div class="text-title">
    <p>Modo de preparo</p>
  </div>
  <div id="preparations">
    {% if recipe.preparation %}
      {% for preparation in recipe.preparation %}
        <div class="preparation">
          <input type="text" name="preparations[]" value=""/>
        </div>
      {% endfor %}
    {% else %}
      <div class="preparation">
        <input type="text" name="preparation[]" value="">
      </div>
    {% endif %}
    <button type="button" class="add-preparation">Adicionar novo passo</button>
  </div>
</div>

<div class="item">
  <div class="information">
    <div class="text-title">
      <p>Informações adicionais </p>
    </div>
    <textarea name="information" cols="30" rows="10"></textarea>
  </div>
</div>