{% extends "layoutAdmin.njk" %}
{% block content %}

  <section class="header-content">
    <div class="content">
      <div>Receita: {{recipe.title}}</div>
      <a href="/instructors/{{instructor.id}}/edit" class="button">Editar Receita</a>
    </div>
    <div><img src="{{recipe.recipe_img}}" alt=""></div>
  </section>

  <section class="title">
    <div class="title-recipe">
      <div>{{recipe.title}}</div>
      <div>{{recipe.author}}</div>
    </div>
  </section>

  <section class="content">
    <div class="box-content">
      <div class="title-ingredients">
        <p>Ingredientes</p>
      </div>
      <div class="content-recipe">
        <ul>
          {% for ingredient in recipe.ingredients %}
            <li>
              <span>-</span>{{ ingredient }}.
            </li>
          {% endfor %}
        </ul>

      </div>
    </div>

  </section>

{% endblock %}