<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <linkhref="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/admin.css">

    {% block head %}
      <title>Foodfy Admin</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="admin">
        <a href="/"><img src="/assets/logo-white.png" alt=""></a>
      </div>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>