{% extends "layout.njk" %}

{% block head %}
  <title>{{item.title}}</title>
{% endblock %}

{% block content %}
  <img src="{{item.image}}" alt=""/>
  <h1>{{item.title}}</h1>
  <h1>{{item.author}}</h1>
  <script src="/script.js"></script>
{% endblock %}