<div class="item">
  <div class="text-title">
    <p>Imagem da receita</p>
    <input type="text" name="image" value="{{recipe.image}}">
  </div>
</div>

<div class="item">
  <div class="text-title">
    <p>Nome da receita</p>
    <input type="text" name="title" value="{{recipe.title}}">
  </div>
</div>

<div class="item">
  <div class="text-title">
    <p>Autor da receita</p>
    <input type="text" name="" value="">
  </div>
</div>

<div class="item">
  <div class="text-title">
    <p>Ingredientes</p>
  </div>
  <div id="ingredients">
    {% if recipe.ingredients %}
      {% for ingredient in recipe.ingredients %}
        <div class="ingredient">
          <input type="text" name="ingredients[]" value="{{ingredient}}"/>
        </div>
      {% endfor %}
    {% else %}
      <div class="ingredient">
        <input type="text" name="ingredients[]" value="">
      </div>
    {% endif %}
  </div>
  <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>

<div class="item">
  <div class="text-title">
    <p>Modo de preparo</p>
  </div>
  <div id="preparation">
    {% if recipe.preparation  %}
      {% for preparation in recipe.preparation %}
        <div class="preparation">
          <input type="text" name="preparation[]" value="{{preparation}}"/>
        </div>
      {% endfor %}
    {% else %}
      <div class="preparation">
        <input type="text" name="preparation[]" value="">
      </div>
    {% endif %}
  </div>
  <button type="button" class="add-preparation">Adicionar novo passo</button>
</div>

<div class="item">
  <div class="information">
    <div class="text-title">
      <p>Informações adicionais </p>
    </div>
    <textarea name="information" cols="30" rows="10">{{recipe.information}}</textarea>
  </div>
</div>
<script src="/js/addDinamicForm.js"></script>