* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.menu {
  width: 940px;
  margin: 30px auto;
}

.menu .recipe-header img {
  width: 940px;
  height: 280px;
  border-radius: 15px;
  margin-bottom: 50px;
}

.menu .recipe-header h1 {
  font-weight: 600;
  font-size: 36px;
  color: #111111;
  text-align: center;
}

.menu .recipe-header h2 {
  font-weight: 600;
  font-size: 20px;
  color: #777777;
  text-align: center;
  margin-bottom: 50px;
}
#ingredients h3 {
  font-weight: 600;
  font-size: 24px;
  color: #111111;
  margin-bottom: 20px;
}

.topic-content ul {
  margin-bottom: 39px;
}

.topic-content ul li {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  list-style-position: inside;
  text-align: justify;
}

#ingredients {
  position: relative;
}

#ingredients button {
  position: absolute;
  top: 11px;
  left: 150px;
  font-size: 12px;
  color: #999999;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 600;
  outline: none;
}

#prepartion {
  position: relative;
}

#prepartion h3 {
  font-size: 24px;
  color: #111111;
  font-weight: 600;
  margin-bottom: 20px;
}

#prepartion button {
  position: absolute;
  top: 11px;
  left: 200px;
  font-size: 12px;
  color: #999999;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  font-weight: 600;
}
#information {
  position: relative;
}

#information h3 {
  font-size: 24px;
  color: #111111;
  font-weight: 600;
  margin-bottom: 20px;
}

#information button {
  position: absolute;
  top: 11px;
  left: 270px;
  font-size: 12px;
  color: #999999;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  font-weight: 600;
}

#information p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  text-align: justify;
}

.topic-content.hide {
  display: none;
}
